<html>
  <head>
    <title>Submit a Stack Overflow Question Tag</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
	<h1>Submit a Stack Overflow Question Tag</h1>
      </div>
      <div id="main">
	<form method="post" action="{{ url_for('submitted_form_bq') }}">
	  <label for="tag">Tag:</label>
	  <input type="text" name="tag"><br />
	  <input type="submit">
	</form>
      </div>
    </div>
  </body>
</html>
