<html>
  <head>
    <title>Submitted form BQ</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <div id="container">
      <div class="pagetitle">
	<h1>Top Stack Overflow Questions</h1>
      </div>
      <div id="main">
	<p>You queried: {{tag}}</p>
	<p>Results:</p>
	<p>
	  <table class="centered thick-border">
	    <tr>
	      <th>Title</th>
	      <th>View Count</th>
	    </tr>
	    {% for k, v  in titles.items() %}
	    <tr>
	      <td>{{ k }}</td>
	      <td>{{ v }}</td>
	    </tr>
	    {% endfor %}
	    </table>
	</p>
      </div>
    </div>
  </body>
</html>
